# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env

# MacOS system files
.DS_Store

# VSCode
.vscode/

# Hugging Face cache (models too big for GitHub)
.huggingface/
.cache/

